USE [master]
GO
/****** Object:  Database [Kepegawaian_DB]    Script Date: 24/11/2025 05:45:37 ******/
CREATE DATABASE [Kepegawaian_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Kepegawaian_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\Kepegawaian_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Kepegawaian_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\Kepegawaian_DB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Kepegawaian_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Kepegawaian_DB]
GO
/****** Object:  User [User_Rektor]    Script Date: 24/11/2025 05:45:38 ******/
CREATE USER [User_Rektor] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [PowerBI_Viewer]    Script Date: 24/11/2025 05:45:38 ******/
CREATE ROLE [PowerBI_Viewer]
GO
ALTER ROLE [PowerBI_Viewer] ADD MEMBER [User_Rektor]
GO
/****** Object:  Schema [Staging]    Script Date: 24/11/2025 05:45:38 ******/
CREATE SCHEMA [Staging]
GO
/****** Object:  Table [dbo].[Dim_Date]    Script Date: 24/11/2025 05:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Date](
	[DateKey] [int] NOT NULL,
	[FullDate] [date] NULL,
	[Year] [int] NULL,
	[Month] [int] NULL,
	[Quarter] [int] NULL,
	[Semester] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Unit]    Script Date: 24/11/2025 05:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Unit](
	[UnitKey] [int] IDENTITY(1,1) NOT NULL,
	[KodeUnit] [varchar](10) NULL,
	[NamaUnit] [varchar](100) NULL,
	[Fakultas] [varchar](100) NULL,
	[Location] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[UnitKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Position]    Script Date: 24/11/2025 05:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Position](
	[PositionKey] [int] IDENTITY(1,1) NOT NULL,
	[KodePosition] [varchar](10) NULL,
	[NamaPosition] [varchar](100) NULL,
	[PositionType] [varchar](50) NULL,
	[DescPekerjaan] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PositionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_EmployeeSnapshot]    Script Date: 24/11/2025 05:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_EmployeeSnapshot](
	[SnapshotKey] [bigint] IDENTITY(1,1) NOT NULL,
	[DateKey] [int] NOT NULL,
	[EmployeeKey] [int] NOT NULL,
	[PositionKey] [int] NOT NULL,
	[UnitKey] [int] NOT NULL,
	[RankKey] [int] NOT NULL,
	[GajiPokok] [decimal](18, 2) MASKED WITH (FUNCTION = 'default()') NULL,
	[JumlahOrang] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SnapshotKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_Dashboard_Executive]    Script Date: 24/11/2025 05:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 1. PERBAIKAN VIEW EKSEKUTIF
-- Solusi: Menggunakan fungsi DATENAME untuk mendapatkan nama bulan
-- ============================================================
CREATE   VIEW [dbo].[V_Dashboard_Executive] AS
SELECT 
    d.FullDate,
    d.Year,
    -- Kita generate Nama Bulan langsung dari Tanggal
    DATENAME(MONTH, d.FullDate) AS MonthName, 
    u.NamaUnit,
    p.NamaPosition,
    f.JumlahOrang,
    f.GajiPokok
FROM Fact_EmployeeSnapshot f
JOIN Dim_Date d ON f.DateKey = d.DateKey
JOIN Dim_Unit u ON f.UnitKey = u.UnitKey
JOIN Dim_Position p ON f.PositionKey = p.PositionKey;
GO
/****** Object:  Table [dbo].[Dim_Employee]    Script Date: 24/11/2025 05:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Employee](
	[EmployeeKey] [int] IDENTITY(1,1) NOT NULL,
	[NIP] [varchar](20) NULL,
	[NamaPegawai] [varchar](150) NULL,
	[BirthDate] [date] NULL,
	[JenisKelamin] [varchar](10) NULL,
	[StatusPegawai] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Attendance]    Script Date: 24/11/2025 05:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Attendance](
	[AttendanceKey] [bigint] IDENTITY(1,1) NOT NULL,
	[DateKey] [int] NOT NULL,
	[EmployeeKey] [int] NOT NULL,
	[UnitKey] [int] NOT NULL,
	[DurasiKerja] [decimal](4, 2) NULL,
	[MenitTerlambat] [int] NULL,
	[StatusKehadiran] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[AttendanceKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_Dashboard_Operational]    Script Date: 24/11/2025 05:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 2. PERBAIKAN VIEW OPERASIONAL
-- Solusi: Menghapus kolom 'JamMasuk' karena tidak ada di Fact Table
-- (Analisis fokus pada Durasi dan Keterlambatan)
-- ============================================================
CREATE   VIEW [dbo].[V_Dashboard_Operational] AS
SELECT 
    d.FullDate,
    e.NamaPegawai,
    u.NamaUnit,
    -- JamMasuk dihapus karena tidak disimpan di DWH
    f.DurasiKerja,
    f.MenitTerlambat,
    f.StatusKehadiran
FROM Fact_Attendance f
JOIN Dim_Date d ON f.DateKey = d.DateKey
JOIN Dim_Employee e ON f.EmployeeKey = e.EmployeeKey
JOIN Dim_Unit u ON f.UnitKey = u.UnitKey;
GO
/****** Object:  Table [dbo].[Audit_Log]    Script Date: 24/11/2025 05:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Audit_Log](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[EventTime] [datetime] NULL,
	[UserName] [varchar](100) NULL,
	[Action] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Rank]    Script Date: 24/11/2025 05:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Rank](
	[RankKey] [int] IDENTITY(1,1) NOT NULL,
	[KodeRank] [varchar](10) NULL,
	[NamaRank] [varchar](50) NULL,
	[Golongan] [varchar](10) NULL,
	[Rank] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RankKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Performance]    Script Date: 24/11/2025 05:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Performance](
	[PerformanceKey] [bigint] IDENTITY(1,1) NOT NULL,
	[DateKey] [int] NOT NULL,
	[EmployeeKey] [int] NOT NULL,
	[UnitKey] [int] NOT NULL,
	[PositionKey] [int] NOT NULL,
	[Skor_Akhir] [decimal](5, 2) NULL,
	[Grade] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[PerformanceKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MsGolongan]    Script Date: 24/11/2025 05:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MsGolongan](
	[KodeGolongan] [varchar](10) NOT NULL,
	[NamaPangkat] [varchar](50) NULL,
	[Golongan] [varchar](10) NULL,
	[GajiDasar] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[KodeGolongan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MsJabatan]    Script Date: 24/11/2025 05:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MsJabatan](
	[KodeJabatan] [varchar](10) NOT NULL,
	[NamaJabatan] [varchar](100) NULL,
	[TipeJabatan] [varchar](50) NULL,
	[Deskripsi] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[KodeJabatan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MsPegawai]    Script Date: 24/11/2025 05:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MsPegawai](
	[NIP] [varchar](20) NOT NULL,
	[KodeUnit] [varchar](10) NOT NULL,
	[NamaLengkap] [varchar](150) NULL,
	[TglLahir] [date] NULL,
	[JenisKelamin] [varchar](10) NULL,
	[StatusPegawai] [varchar](50) NULL,
	[TglMasuk] [date] NULL,
	[IsActive] [bit] NULL,
	[KodeJabatan] [varchar](10) NULL,
	[KodeGolongan] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[NIP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MsUnit]    Script Date: 24/11/2025 05:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MsUnit](
	[KodeUnit] [varchar](10) NOT NULL,
	[NamaUnit] [varchar](100) NULL,
	[Fakultas] [varchar](100) NULL,
	[Lokasi] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[KodeUnit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrAbsensi]    Script Date: 24/11/2025 05:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrAbsensi](
	[AbsensiID] [bigint] IDENTITY(1,1) NOT NULL,
	[Tanggal] [date] NULL,
	[JamMasuk] [time](0) NULL,
	[JamKeluar] [time](0) NULL,
	[StatusKehadiran] [varchar](20) NULL,
	[Keterangan] [varchar](255) NULL,
	[NIP] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[AbsensiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrGaji]    Script Date: 24/11/2025 05:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrGaji](
	[GajiID] [bigint] IDENTITY(1,1) NOT NULL,
	[NIP] [varchar](20) NULL,
	[Bulan] [int] NULL,
	[Tahun] [int] NULL,
	[GajiPokok] [decimal](18, 2) NULL,
	[Tunjangan] [decimal](18, 2) NULL,
	[Potongan] [decimal](18, 2) NULL,
	[TotalDiterima] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[GajiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrPenilaianKinerja]    Script Date: 24/11/2025 05:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrPenilaianKinerja](
	[PenilaianID] [bigint] IDENTITY(1,1) NOT NULL,
	[NIP_Dinilai] [varchar](20) NULL,
	[NIP_Penilai] [varchar](20) NULL,
	[TglEvaluasi] [date] NULL,
	[PeriodeTahun] [int] NULL,
	[Semester] [int] NULL,
	[SkorSKP] [decimal](5, 2) NULL,
	[SkorPerilaku] [decimal](5, 2) NULL,
	[TotalSkor] [decimal](5, 2) NULL,
	[Grade] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[PenilaianID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Staging].[MsPegawai]    Script Date: 24/11/2025 05:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Staging].[MsPegawai](
	[NIP] [varchar](20) NULL,
	[NamaLengkap] [varchar](150) NULL,
	[TglLahir] [date] NULL,
	[JenisKelamin] [varchar](10) NULL,
	[StatusPegawai] [varchar](50) NULL,
	[KodeUnit] [varchar](10) NULL,
	[KodeJabatan] [varchar](10) NULL,
	[KodeGolongan] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Staging].[TrAbsensi]    Script Date: 24/11/2025 05:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Staging].[TrAbsensi](
	[NIP] [varchar](20) NULL,
	[Tanggal] [date] NULL,
	[JamMasuk] [time](0) NULL,
	[JamKeluar] [time](0) NULL,
	[StatusKehadiran] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Staging].[TrGaji]    Script Date: 24/11/2025 05:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Staging].[TrGaji](
	[NIP] [varchar](20) NULL,
	[Bulan] [int] NULL,
	[Tahun] [int] NULL,
	[GajiPokok] [decimal](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Staging].[TrPenilaian]    Script Date: 24/11/2025 05:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Staging].[TrPenilaian](
	[NIP] [varchar](20) NULL,
	[TglEvaluasi] [date] NULL,
	[TotalSkor] [decimal](5, 2) NULL,
	[Grade] [varchar](5) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Dim_Date] ([DateKey], [FullDate], [Year], [Month], [Quarter], [Semester]) VALUES (19000101, CAST(N'1900-01-01' AS Date), 1900, 1, 1, 1)
INSERT [dbo].[Dim_Date] ([DateKey], [FullDate], [Year], [Month], [Quarter], [Semester]) VALUES (20200101, CAST(N'2020-01-01' AS Date), 2020, 1, 1, 1)
INSERT [dbo].[Dim_Date] ([DateKey], [FullDate], [Year], [Month], [Quarter], [Semester]) VALUES (20200102, CAST(N'2020-01-02' AS Date), 2020, 1, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Dim_Employee] ON 

INSERT [dbo].[Dim_Employee] ([EmployeeKey], [NIP], [NamaPegawai], [BirthDate], [JenisKelamin], [StatusPegawai]) VALUES (-1, N'000', N'Unknown', NULL, NULL, NULL)
INSERT [dbo].[Dim_Employee] ([EmployeeKey], [NIP], [NamaPegawai], [BirthDate], [JenisKelamin], [StatusPegawai]) VALUES (1, N'P001', N'Dr. Budi Santoso', CAST(N'1980-01-01' AS Date), N'L', N'PNS')
INSERT [dbo].[Dim_Employee] ([EmployeeKey], [NIP], [NamaPegawai], [BirthDate], [JenisKelamin], [StatusPegawai]) VALUES (2, N'P002', N'Siti Aminah, M.Si', CAST(N'1990-05-05' AS Date), N'P', N'PNS')
SET IDENTITY_INSERT [dbo].[Dim_Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Dim_Position] ON 

INSERT [dbo].[Dim_Position] ([PositionKey], [KodePosition], [NamaPosition], [PositionType], [DescPekerjaan]) VALUES (-1, NULL, N'Unknown', NULL, NULL)
INSERT [dbo].[Dim_Position] ([PositionKey], [KodePosition], [NamaPosition], [PositionType], [DescPekerjaan]) VALUES (1, N'AA', N'Asisten Ahli', N'Fungsional', N'Pengajar Junior')
INSERT [dbo].[Dim_Position] ([PositionKey], [KodePosition], [NamaPosition], [PositionType], [DescPekerjaan]) VALUES (2, N'KBG', N'Kepala Bagian', N'Struktural', N'Pimpinan Unit')
SET IDENTITY_INSERT [dbo].[Dim_Position] OFF
GO
SET IDENTITY_INSERT [dbo].[Dim_Rank] ON 

INSERT [dbo].[Dim_Rank] ([RankKey], [KodeRank], [NamaRank], [Golongan], [Rank]) VALUES (-1, NULL, N'Unknown', NULL, NULL)
INSERT [dbo].[Dim_Rank] ([RankKey], [KodeRank], [NamaRank], [Golongan], [Rank]) VALUES (1, N'III-A', N'Penata Muda', N'III/a', NULL)
INSERT [dbo].[Dim_Rank] ([RankKey], [KodeRank], [NamaRank], [Golongan], [Rank]) VALUES (2, N'III-B', N'Penata Muda Tk. I', N'III/b', NULL)
SET IDENTITY_INSERT [dbo].[Dim_Rank] OFF
GO
SET IDENTITY_INSERT [dbo].[Dim_Unit] ON 

INSERT [dbo].[Dim_Unit] ([UnitKey], [KodeUnit], [NamaUnit], [Fakultas], [Location]) VALUES (-1, NULL, N'Unknown', N'Unknown', NULL)
INSERT [dbo].[Dim_Unit] ([UnitKey], [KodeUnit], [NamaUnit], [Fakultas], [Location]) VALUES (1, N'BIO', N'Biologi', N'Fakultas Sains', N'Gedung E')
INSERT [dbo].[Dim_Unit] ([UnitKey], [KodeUnit], [NamaUnit], [Fakultas], [Location]) VALUES (2, N'HUM', N'Biro SDM & Umum', N'Rektorat', N'Gedung A')
SET IDENTITY_INSERT [dbo].[Dim_Unit] OFF
GO
SET IDENTITY_INSERT [dbo].[Fact_Attendance] ON 

INSERT [dbo].[Fact_Attendance] ([AttendanceKey], [DateKey], [EmployeeKey], [UnitKey], [DurasiKerja], [MenitTerlambat], [StatusKehadiran]) VALUES (2, 20251120, 1, 4, CAST(8.75 AS Decimal(4, 2)), 0, N'Hadir')
INSERT [dbo].[Fact_Attendance] ([AttendanceKey], [DateKey], [EmployeeKey], [UnitKey], [DurasiKerja], [MenitTerlambat], [StatusKehadiran]) VALUES (3, 20251120, 2, 4, CAST(9.08 AS Decimal(4, 2)), 0, N'Hadir')
INSERT [dbo].[Fact_Attendance] ([AttendanceKey], [DateKey], [EmployeeKey], [UnitKey], [DurasiKerja], [MenitTerlambat], [StatusKehadiran]) VALUES (4, 20251120, 3, 3, CAST(8.00 AS Decimal(4, 2)), 30, N'Hadir')
SET IDENTITY_INSERT [dbo].[Fact_Attendance] OFF
GO
SET IDENTITY_INSERT [dbo].[Fact_EmployeeSnapshot] ON 

INSERT [dbo].[Fact_EmployeeSnapshot] ([SnapshotKey], [DateKey], [EmployeeKey], [PositionKey], [UnitKey], [RankKey], [GajiPokok], [JumlahOrang]) VALUES (2, 20251001, 1, 4, 4, 4, CAST(5000000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Fact_EmployeeSnapshot] ([SnapshotKey], [DateKey], [EmployeeKey], [PositionKey], [UnitKey], [RankKey], [GajiPokok], [JumlahOrang]) VALUES (3, 20251001, 2, 1, 4, 2, CAST(3500000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Fact_EmployeeSnapshot] ([SnapshotKey], [DateKey], [EmployeeKey], [PositionKey], [UnitKey], [RankKey], [GajiPokok], [JumlahOrang]) VALUES (4, 20251001, 3, 4, 3, 3, CAST(4000000.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[Fact_EmployeeSnapshot] OFF
GO
SET IDENTITY_INSERT [dbo].[Fact_Performance] ON 

INSERT [dbo].[Fact_Performance] ([PerformanceKey], [DateKey], [EmployeeKey], [UnitKey], [PositionKey], [Skor_Akhir], [Grade]) VALUES (11, 20250630, 1, 4, 4, CAST(93.50 AS Decimal(5, 2)), N'A')
INSERT [dbo].[Fact_Performance] ([PerformanceKey], [DateKey], [EmployeeKey], [UnitKey], [PositionKey], [Skor_Akhir], [Grade]) VALUES (12, 20250630, 2, 4, 1, CAST(86.50 AS Decimal(5, 2)), N'B')
INSERT [dbo].[Fact_Performance] ([PerformanceKey], [DateKey], [EmployeeKey], [UnitKey], [PositionKey], [Skor_Akhir], [Grade]) VALUES (13, 20250630, 3, 3, 4, CAST(72.50 AS Decimal(5, 2)), N'C')
SET IDENTITY_INSERT [dbo].[Fact_Performance] OFF
GO
INSERT [dbo].[MsGolongan] ([KodeGolongan], [NamaPangkat], [Golongan], [GajiDasar]) VALUES (N'III-A', N'Penata Muda', N'III/a', CAST(3000000.00 AS Decimal(18, 2)))
INSERT [dbo].[MsGolongan] ([KodeGolongan], [NamaPangkat], [Golongan], [GajiDasar]) VALUES (N'III-B', N'Penata Muda Tk. I', N'III/b', CAST(3500000.00 AS Decimal(18, 2)))
INSERT [dbo].[MsGolongan] ([KodeGolongan], [NamaPangkat], [Golongan], [GajiDasar]) VALUES (N'III-C', N'Penata', N'III/c', CAST(4000000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[MsJabatan] ([KodeJabatan], [NamaJabatan], [TipeJabatan], [Deskripsi]) VALUES (N'AA', N'Asisten Ahli', N'Fungsional', N'Pengajar Junior')
INSERT [dbo].[MsJabatan] ([KodeJabatan], [NamaJabatan], [TipeJabatan], [Deskripsi]) VALUES (N'KBG', N'Kepala Bagian', N'Struktural', N'Pimpinan Unit')
INSERT [dbo].[MsJabatan] ([KodeJabatan], [NamaJabatan], [TipeJabatan], [Deskripsi]) VALUES (N'LBR', N'Laboran', N'Fungsional', N'Teknis Lab')
GO
INSERT [dbo].[MsPegawai] ([NIP], [KodeUnit], [NamaLengkap], [TglLahir], [JenisKelamin], [StatusPegawai], [TglMasuk], [IsActive], [KodeJabatan], [KodeGolongan]) VALUES (N'P001', N'SD', N'Dr. Budi Santoso', CAST(N'1980-01-01' AS Date), N'L', N'PNS', CAST(N'2005-01-01' AS Date), 1, N'LEC', N'IV-A')
INSERT [dbo].[MsPegawai] ([NIP], [KodeUnit], [NamaLengkap], [TglLahir], [JenisKelamin], [StatusPegawai], [TglMasuk], [IsActive], [KodeJabatan], [KodeGolongan]) VALUES (N'P002', N'SD', N'Siti Aminah, M.Si', CAST(N'1990-05-05' AS Date), N'P', N'PNS', CAST(N'2015-06-01' AS Date), 1, N'AA', N'III-B')
INSERT [dbo].[MsPegawai] ([NIP], [KodeUnit], [NamaLengkap], [TglLahir], [JenisKelamin], [StatusPegawai], [TglMasuk], [IsActive], [KodeJabatan], [KodeGolongan]) VALUES (N'P003', N'IF', N'Rudi Hermawan, S.Kom', CAST(N'1985-03-10' AS Date), N'L', N'PNS', CAST(N'2010-01-01' AS Date), 1, N'LEC', N'III-C')
GO
INSERT [dbo].[MsUnit] ([KodeUnit], [NamaUnit], [Fakultas], [Lokasi]) VALUES (N'BIO', N'Biologi', N'Fakultas Sains', N'Gedung E')
INSERT [dbo].[MsUnit] ([KodeUnit], [NamaUnit], [Fakultas], [Lokasi]) VALUES (N'HUM', N'Biro SDM & Umum', N'Rektorat', N'Gedung A')
INSERT [dbo].[MsUnit] ([KodeUnit], [NamaUnit], [Fakultas], [Lokasi]) VALUES (N'IF', N'Teknik Informatika', N'Fakultas Teknologi', N'Gedung F')
GO
SET IDENTITY_INSERT [dbo].[TrAbsensi] ON 

INSERT [dbo].[TrAbsensi] ([AbsensiID], [Tanggal], [JamMasuk], [JamKeluar], [StatusKehadiran], [Keterangan], [NIP]) VALUES (1, CAST(N'2025-11-20' AS Date), CAST(N'07:15:00' AS Time), CAST(N'16:00:00' AS Time), N'Hadir', N'Tepat Waktu', N'P001')
INSERT [dbo].[TrAbsensi] ([AbsensiID], [Tanggal], [JamMasuk], [JamKeluar], [StatusKehadiran], [Keterangan], [NIP]) VALUES (2, CAST(N'2025-11-20' AS Date), CAST(N'07:25:00' AS Time), CAST(N'16:30:00' AS Time), N'Hadir', N'Tepat Waktu', N'P002')
INSERT [dbo].[TrAbsensi] ([AbsensiID], [Tanggal], [JamMasuk], [JamKeluar], [StatusKehadiran], [Keterangan], [NIP]) VALUES (3, CAST(N'2025-11-20' AS Date), CAST(N'08:00:00' AS Time), CAST(N'16:00:00' AS Time), N'Hadir', N'Terlambat 30 Menit', N'P003')
SET IDENTITY_INSERT [dbo].[TrAbsensi] OFF
GO
SET IDENTITY_INSERT [dbo].[TrGaji] ON 

INSERT [dbo].[TrGaji] ([GajiID], [NIP], [Bulan], [Tahun], [GajiPokok], [Tunjangan], [Potongan], [TotalDiterima]) VALUES (1, N'P001', 10, 2025, CAST(5000000.00 AS Decimal(18, 2)), CAST(3000000.00 AS Decimal(18, 2)), CAST(100000.00 AS Decimal(18, 2)), CAST(7900000.00 AS Decimal(18, 2)))
INSERT [dbo].[TrGaji] ([GajiID], [NIP], [Bulan], [Tahun], [GajiPokok], [Tunjangan], [Potongan], [TotalDiterima]) VALUES (2, N'P002', 10, 2025, CAST(3500000.00 AS Decimal(18, 2)), CAST(1500000.00 AS Decimal(18, 2)), CAST(50000.00 AS Decimal(18, 2)), CAST(4950000.00 AS Decimal(18, 2)))
INSERT [dbo].[TrGaji] ([GajiID], [NIP], [Bulan], [Tahun], [GajiPokok], [Tunjangan], [Potongan], [TotalDiterima]) VALUES (3, N'P003', 10, 2025, CAST(4000000.00 AS Decimal(18, 2)), CAST(1500000.00 AS Decimal(18, 2)), CAST(200000.00 AS Decimal(18, 2)), CAST(5300000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[TrGaji] OFF
GO
SET IDENTITY_INSERT [dbo].[TrPenilaianKinerja] ON 

INSERT [dbo].[TrPenilaianKinerja] ([PenilaianID], [NIP_Dinilai], [NIP_Penilai], [TglEvaluasi], [PeriodeTahun], [Semester], [SkorSKP], [SkorPerilaku], [TotalSkor], [Grade]) VALUES (1, N'P001', N'P005', CAST(N'2025-06-30' AS Date), 2025, 1, CAST(95.00 AS Decimal(5, 2)), CAST(92.00 AS Decimal(5, 2)), CAST(93.50 AS Decimal(5, 2)), N'A')
INSERT [dbo].[TrPenilaianKinerja] ([PenilaianID], [NIP_Dinilai], [NIP_Penilai], [TglEvaluasi], [PeriodeTahun], [Semester], [SkorSKP], [SkorPerilaku], [TotalSkor], [Grade]) VALUES (2, N'P002', N'P001', CAST(N'2025-06-30' AS Date), 2025, 1, CAST(85.00 AS Decimal(5, 2)), CAST(88.00 AS Decimal(5, 2)), CAST(86.50 AS Decimal(5, 2)), N'B')
INSERT [dbo].[TrPenilaianKinerja] ([PenilaianID], [NIP_Dinilai], [NIP_Penilai], [TglEvaluasi], [PeriodeTahun], [Semester], [SkorSKP], [SkorPerilaku], [TotalSkor], [Grade]) VALUES (3, N'P003', N'P001', CAST(N'2025-06-30' AS Date), 2025, 1, CAST(75.00 AS Decimal(5, 2)), CAST(70.00 AS Decimal(5, 2)), CAST(72.50 AS Decimal(5, 2)), N'C')
SET IDENTITY_INSERT [dbo].[TrPenilaianKinerja] OFF
GO
INSERT [Staging].[MsPegawai] ([NIP], [NamaLengkap], [TglLahir], [JenisKelamin], [StatusPegawai], [KodeUnit], [KodeJabatan], [KodeGolongan]) VALUES (N'P001', N'Dr. Budi Santoso', CAST(N'1980-01-01' AS Date), N'L', N'PNS', N'SD', N'LEC', N'IV-A')
INSERT [Staging].[MsPegawai] ([NIP], [NamaLengkap], [TglLahir], [JenisKelamin], [StatusPegawai], [KodeUnit], [KodeJabatan], [KodeGolongan]) VALUES (N'P002', N'Siti Aminah, M.Si', CAST(N'1990-05-05' AS Date), N'P', N'PNS', N'SD', N'AA', N'III-B')
INSERT [Staging].[MsPegawai] ([NIP], [NamaLengkap], [TglLahir], [JenisKelamin], [StatusPegawai], [KodeUnit], [KodeJabatan], [KodeGolongan]) VALUES (N'P003', N'Rudi Hermawan, S.Kom', CAST(N'1985-03-10' AS Date), N'L', N'PNS', N'IF', N'LEC', N'III-C')
GO
INSERT [Staging].[TrAbsensi] ([NIP], [Tanggal], [JamMasuk], [JamKeluar], [StatusKehadiran]) VALUES (N'P001', CAST(N'2025-11-20' AS Date), CAST(N'07:15:00' AS Time), CAST(N'16:00:00' AS Time), N'Hadir')
INSERT [Staging].[TrAbsensi] ([NIP], [Tanggal], [JamMasuk], [JamKeluar], [StatusKehadiran]) VALUES (N'P002', CAST(N'2025-11-20' AS Date), CAST(N'07:25:00' AS Time), CAST(N'16:30:00' AS Time), N'Hadir')
INSERT [Staging].[TrAbsensi] ([NIP], [Tanggal], [JamMasuk], [JamKeluar], [StatusKehadiran]) VALUES (N'P003', CAST(N'2025-11-20' AS Date), CAST(N'08:00:00' AS Time), CAST(N'16:00:00' AS Time), N'Hadir')
GO
INSERT [Staging].[TrGaji] ([NIP], [Bulan], [Tahun], [GajiPokok]) VALUES (N'P001', 10, 2025, CAST(5000000.00 AS Decimal(18, 2)))
INSERT [Staging].[TrGaji] ([NIP], [Bulan], [Tahun], [GajiPokok]) VALUES (N'P002', 10, 2025, CAST(3500000.00 AS Decimal(18, 2)))
INSERT [Staging].[TrGaji] ([NIP], [Bulan], [Tahun], [GajiPokok]) VALUES (N'P003', 10, 2025, CAST(4000000.00 AS Decimal(18, 2)))
GO
INSERT [Staging].[TrPenilaian] ([NIP], [TglEvaluasi], [TotalSkor], [Grade]) VALUES (N'P001', CAST(N'2025-06-30' AS Date), CAST(93.50 AS Decimal(5, 2)), N'A')
INSERT [Staging].[TrPenilaian] ([NIP], [TglEvaluasi], [TotalSkor], [Grade]) VALUES (N'P002', CAST(N'2025-06-30' AS Date), CAST(86.50 AS Decimal(5, 2)), N'B')
INSERT [Staging].[TrPenilaian] ([NIP], [TglEvaluasi], [TotalSkor], [Grade]) VALUES (N'P003', CAST(N'2025-06-30' AS Date), CAST(72.50 AS Decimal(5, 2)), N'C')
GO
/****** Object:  Index [IX_FactAttendance_DateKey]    Script Date: 24/11/2025 05:45:38 ******/
CREATE NONCLUSTERED INDEX [IX_FactAttendance_DateKey] ON [dbo].[Fact_Attendance]
(
	[DateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FactAttendance_EmployeeKey]    Script Date: 24/11/2025 05:45:38 ******/
CREATE NONCLUSTERED INDEX [IX_FactAttendance_EmployeeKey] ON [dbo].[Fact_Attendance]
(
	[EmployeeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FactAttendance_UnitKey]    Script Date: 24/11/2025 05:45:38 ******/
CREATE NONCLUSTERED INDEX [IX_FactAttendance_UnitKey] ON [dbo].[Fact_Attendance]
(
	[UnitKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FactSnapshot_DateKey]    Script Date: 24/11/2025 05:45:38 ******/
CREATE NONCLUSTERED INDEX [IX_FactSnapshot_DateKey] ON [dbo].[Fact_EmployeeSnapshot]
(
	[DateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FactSnapshot_EmployeeKey]    Script Date: 24/11/2025 05:45:38 ******/
CREATE NONCLUSTERED INDEX [IX_FactSnapshot_EmployeeKey] ON [dbo].[Fact_EmployeeSnapshot]
(
	[EmployeeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FactSnapshot_PositionKey]    Script Date: 24/11/2025 05:45:38 ******/
CREATE NONCLUSTERED INDEX [IX_FactSnapshot_PositionKey] ON [dbo].[Fact_EmployeeSnapshot]
(
	[PositionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FactSnapshot_RankKey]    Script Date: 24/11/2025 05:45:38 ******/
CREATE NONCLUSTERED INDEX [IX_FactSnapshot_RankKey] ON [dbo].[Fact_EmployeeSnapshot]
(
	[RankKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FactSnapshot_UnitKey]    Script Date: 24/11/2025 05:45:38 ******/
CREATE NONCLUSTERED INDEX [IX_FactSnapshot_UnitKey] ON [dbo].[Fact_EmployeeSnapshot]
(
	[UnitKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FactPerformance_DateKey]    Script Date: 24/11/2025 05:45:38 ******/
CREATE NONCLUSTERED INDEX [IX_FactPerformance_DateKey] ON [dbo].[Fact_Performance]
(
	[DateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FactPerformance_EmployeeKey]    Script Date: 24/11/2025 05:45:38 ******/
CREATE NONCLUSTERED INDEX [IX_FactPerformance_EmployeeKey] ON [dbo].[Fact_Performance]
(
	[EmployeeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FactPerformance_PositionKey]    Script Date: 24/11/2025 05:45:38 ******/
CREATE NONCLUSTERED INDEX [IX_FactPerformance_PositionKey] ON [dbo].[Fact_Performance]
(
	[PositionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FactPerformance_UnitKey]    Script Date: 24/11/2025 05:45:38 ******/
CREATE NONCLUSTERED INDEX [IX_FactPerformance_UnitKey] ON [dbo].[Fact_Performance]
(
	[UnitKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Audit_Log] ADD  DEFAULT (getdate()) FOR [EventTime]
GO
ALTER TABLE [dbo].[Fact_EmployeeSnapshot] ADD  DEFAULT ((1)) FOR [JumlahOrang]
GO
ALTER TABLE [dbo].[MsPegawai] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Fact_Attendance]  WITH CHECK ADD  CONSTRAINT [FK_DWH_Att_Date] FOREIGN KEY([DateKey])
REFERENCES [dbo].[Dim_Date] ([DateKey])
GO
ALTER TABLE [dbo].[Fact_Attendance] CHECK CONSTRAINT [FK_DWH_Att_Date]
GO
ALTER TABLE [dbo].[Fact_Attendance]  WITH CHECK ADD  CONSTRAINT [FK_DWH_Att_Emp] FOREIGN KEY([EmployeeKey])
REFERENCES [dbo].[Dim_Employee] ([EmployeeKey])
GO
ALTER TABLE [dbo].[Fact_Attendance] CHECK CONSTRAINT [FK_DWH_Att_Emp]
GO
ALTER TABLE [dbo].[Fact_Attendance]  WITH CHECK ADD  CONSTRAINT [FK_DWH_Att_Unit] FOREIGN KEY([UnitKey])
REFERENCES [dbo].[Dim_Unit] ([UnitKey])
GO
ALTER TABLE [dbo].[Fact_Attendance] CHECK CONSTRAINT [FK_DWH_Att_Unit]
GO
ALTER TABLE [dbo].[Fact_EmployeeSnapshot]  WITH CHECK ADD  CONSTRAINT [FK_DWH_Snap_Date] FOREIGN KEY([DateKey])
REFERENCES [dbo].[Dim_Date] ([DateKey])
GO
ALTER TABLE [dbo].[Fact_EmployeeSnapshot] CHECK CONSTRAINT [FK_DWH_Snap_Date]
GO
ALTER TABLE [dbo].[Fact_EmployeeSnapshot]  WITH CHECK ADD  CONSTRAINT [FK_DWH_Snap_Emp] FOREIGN KEY([EmployeeKey])
REFERENCES [dbo].[Dim_Employee] ([EmployeeKey])
GO
ALTER TABLE [dbo].[Fact_EmployeeSnapshot] CHECK CONSTRAINT [FK_DWH_Snap_Emp]
GO
ALTER TABLE [dbo].[Fact_EmployeeSnapshot]  WITH CHECK ADD  CONSTRAINT [FK_DWH_Snap_Pos] FOREIGN KEY([PositionKey])
REFERENCES [dbo].[Dim_Position] ([PositionKey])
GO
ALTER TABLE [dbo].[Fact_EmployeeSnapshot] CHECK CONSTRAINT [FK_DWH_Snap_Pos]
GO
ALTER TABLE [dbo].[Fact_EmployeeSnapshot]  WITH CHECK ADD  CONSTRAINT [FK_DWH_Snap_Rank] FOREIGN KEY([RankKey])
REFERENCES [dbo].[Dim_Rank] ([RankKey])
GO
ALTER TABLE [dbo].[Fact_EmployeeSnapshot] CHECK CONSTRAINT [FK_DWH_Snap_Rank]
GO
ALTER TABLE [dbo].[Fact_EmployeeSnapshot]  WITH CHECK ADD  CONSTRAINT [FK_DWH_Snap_Unit] FOREIGN KEY([UnitKey])
REFERENCES [dbo].[Dim_Unit] ([UnitKey])
GO
ALTER TABLE [dbo].[Fact_EmployeeSnapshot] CHECK CONSTRAINT [FK_DWH_Snap_Unit]
GO
ALTER TABLE [dbo].[Fact_Performance]  WITH CHECK ADD  CONSTRAINT [FK_DWH_Perf_Date] FOREIGN KEY([DateKey])
REFERENCES [dbo].[Dim_Date] ([DateKey])
GO
ALTER TABLE [dbo].[Fact_Performance] CHECK CONSTRAINT [FK_DWH_Perf_Date]
GO
ALTER TABLE [dbo].[Fact_Performance]  WITH CHECK ADD  CONSTRAINT [FK_DWH_Perf_Emp] FOREIGN KEY([EmployeeKey])
REFERENCES [dbo].[Dim_Employee] ([EmployeeKey])
GO
ALTER TABLE [dbo].[Fact_Performance] CHECK CONSTRAINT [FK_DWH_Perf_Emp]
GO
ALTER TABLE [dbo].[Fact_Performance]  WITH CHECK ADD  CONSTRAINT [FK_DWH_Perf_Pos] FOREIGN KEY([PositionKey])
REFERENCES [dbo].[Dim_Position] ([PositionKey])
GO
ALTER TABLE [dbo].[Fact_Performance] CHECK CONSTRAINT [FK_DWH_Perf_Pos]
GO
ALTER TABLE [dbo].[Fact_Performance]  WITH CHECK ADD  CONSTRAINT [FK_DWH_Perf_Unit] FOREIGN KEY([UnitKey])
REFERENCES [dbo].[Dim_Unit] ([UnitKey])
GO
ALTER TABLE [dbo].[Fact_Performance] CHECK CONSTRAINT [FK_DWH_Perf_Unit]
GO
ALTER TABLE [dbo].[MsPegawai]  WITH CHECK ADD  CONSTRAINT [FK_OLTP_Golongan] FOREIGN KEY([KodeGolongan])
REFERENCES [dbo].[MsGolongan] ([KodeGolongan])
GO
ALTER TABLE [dbo].[MsPegawai] CHECK CONSTRAINT [FK_OLTP_Golongan]
GO
ALTER TABLE [dbo].[MsPegawai]  WITH CHECK ADD  CONSTRAINT [FK_OLTP_Jabatan] FOREIGN KEY([KodeJabatan])
REFERENCES [dbo].[MsJabatan] ([KodeJabatan])
GO
ALTER TABLE [dbo].[MsPegawai] CHECK CONSTRAINT [FK_OLTP_Jabatan]
GO
ALTER TABLE [dbo].[MsPegawai]  WITH CHECK ADD  CONSTRAINT [FK_OLTP_Unit] FOREIGN KEY([KodeUnit])
REFERENCES [dbo].[MsUnit] ([KodeUnit])
GO
ALTER TABLE [dbo].[MsPegawai] CHECK CONSTRAINT [FK_OLTP_Unit]
GO
ALTER TABLE [dbo].[TrAbsensi]  WITH CHECK ADD  CONSTRAINT [FK_OLTP_Absen_Pegawai] FOREIGN KEY([NIP])
REFERENCES [dbo].[MsPegawai] ([NIP])
GO
ALTER TABLE [dbo].[TrAbsensi] CHECK CONSTRAINT [FK_OLTP_Absen_Pegawai]
GO
ALTER TABLE [dbo].[TrGaji]  WITH CHECK ADD  CONSTRAINT [FK_OLTP_Gaji_Pegawai] FOREIGN KEY([NIP])
REFERENCES [dbo].[MsPegawai] ([NIP])
GO
ALTER TABLE [dbo].[TrGaji] CHECK CONSTRAINT [FK_OLTP_Gaji_Pegawai]
GO
ALTER TABLE [dbo].[TrPenilaianKinerja]  WITH CHECK ADD  CONSTRAINT [FK_OLTP_Nilai_Pegawai] FOREIGN KEY([NIP_Dinilai])
REFERENCES [dbo].[MsPegawai] ([NIP])
GO
ALTER TABLE [dbo].[TrPenilaianKinerja] CHECK CONSTRAINT [FK_OLTP_Nilai_Pegawai]
GO
/****** Object:  StoredProcedure [dbo].[ETL_Master_Load]    Script Date: 24/11/2025 05:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ETL_Master_Load]
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @StartTime DATETIME = GETDATE();
    
    PRINT '=== MULAI PROSES ETL ===';

    -- ==========================================
    -- STEP 1: EXTRACT TO STAGING (TRUNCATE & INSERT)
    -- ==========================================
    PRINT '1. Loading Staging Tables...';
    
    TRUNCATE TABLE Staging.MsPegawai;
    INSERT INTO Staging.MsPegawai SELECT NIP, NamaLengkap, TglLahir, JenisKelamin, StatusPegawai, KodeUnit, KodeJabatan, KodeGolongan FROM MsPegawai;

    TRUNCATE TABLE Staging.TrAbsensi;
    INSERT INTO Staging.TrAbsensi SELECT NIP, Tanggal, JamMasuk, JamKeluar, StatusKehadiran FROM TrAbsensi;

    TRUNCATE TABLE Staging.TrGaji;
    INSERT INTO Staging.TrGaji SELECT NIP, Bulan, Tahun, GajiPokok FROM TrGaji;

    TRUNCATE TABLE Staging.TrPenilaian;
    INSERT INTO Staging.TrPenilaian SELECT NIP_Dinilai, TglEvaluasi, TotalSkor, Grade FROM TrPenilaianKinerja;

    -- ==========================================
    -- STEP 2: LOAD DIMENSIONS
    -- ==========================================
    PRINT '2. Loading Dimensions...';

    -- Dim_Unit
    INSERT INTO Dim_Unit (KodeUnit, NamaUnit, Fakultas, Location)
    SELECT s.KodeUnit, s.NamaUnit, s.Fakultas, s.Lokasi
    FROM MsUnit s
    WHERE NOT EXISTS (SELECT 1 FROM Dim_Unit d WHERE d.KodeUnit = s.KodeUnit);

    -- Dim_Position
    INSERT INTO Dim_Position (KodePosition, NamaPosition, PositionType, DescPekerjaan)
    SELECT s.KodeJabatan, s.NamaJabatan, s.TipeJabatan, s.Deskripsi
    FROM MsJabatan s
    WHERE NOT EXISTS (SELECT 1 FROM Dim_Position d WHERE d.KodePosition = s.KodeJabatan);

    -- Dim_Rank
    INSERT INTO Dim_Rank (KodeRank, NamaRank, Golongan)
    SELECT s.KodeGolongan, s.NamaPangkat, s.Golongan
    FROM MsGolongan s
    WHERE NOT EXISTS (SELECT 1 FROM Dim_Rank d WHERE d.KodeRank = s.KodeGolongan);

    -- Dim_Employee (SCD Type 1)
    MERGE Dim_Employee AS Target
    USING Staging.MsPegawai AS Source ON Target.NIP = Source.NIP
    WHEN MATCHED THEN
        UPDATE SET NamaPegawai = Source.NamaLengkap, StatusPegawai = Source.StatusPegawai
    WHEN NOT MATCHED THEN
        INSERT (NIP, NamaPegawai, BirthDate, JenisKelamin, StatusPegawai)
        VALUES (Source.NIP, Source.NamaLengkap, Source.TglLahir, Source.JenisKelamin, Source.StatusPegawai);

    -- ==========================================
    -- STEP 3: LOAD FACTS
    -- ==========================================
    PRINT '3. Loading Facts...';

    -- Fact_Attendance
    -- Hapus data tanggal yang sama agar tidak duplikat (Idempotency)
    DELETE FROM Fact_Attendance WHERE DateKey IN (SELECT CAST(CONVERT(VARCHAR(8), Tanggal, 112) AS INT) FROM Staging.TrAbsensi);
    
    INSERT INTO Fact_Attendance (DateKey, EmployeeKey, UnitKey, DurasiKerja, MenitTerlambat, StatusKehadiran)
    SELECT 
        CAST(CONVERT(VARCHAR(8), s.Tanggal, 112) AS INT) AS DateKey,
        ISNULL(e.EmployeeKey, -1),
        ISNULL(u.UnitKey, -1),
        -- Transformasi Durasi Kerja
        ISNULL(DATEDIFF(MINUTE, s.JamMasuk, s.JamKeluar) / 60.0, 0),
        -- Transformasi Keterlambatan (> 07:30)
        CASE WHEN s.JamMasuk > '07:30:00' THEN DATEDIFF(MINUTE, '07:30:00', s.JamMasuk) ELSE 0 END,
        s.StatusKehadiran
    FROM Staging.TrAbsensi s
    LEFT JOIN Dim_Employee e ON s.NIP = e.NIP
    LEFT JOIN MsPegawai mp ON s.NIP = mp.NIP -- Join ke OLTP MsPegawai untuk ambil KodeUnit
    LEFT JOIN Dim_Unit u ON mp.KodeUnit = u.KodeUnit;

    -- Fact_Performance
    INSERT INTO Fact_Performance (DateKey, EmployeeKey, UnitKey, PositionKey, Skor_Akhir, Grade)
    SELECT 
        CAST(CONVERT(VARCHAR(8), s.TglEvaluasi, 112) AS INT),
        ISNULL(e.EmployeeKey, -1),
        ISNULL(u.UnitKey, -1),
        ISNULL(p.PositionKey, -1),
        s.TotalSkor,
        s.Grade
    FROM Staging.TrPenilaian s
    LEFT JOIN Dim_Employee e ON s.NIP = e.NIP
    LEFT JOIN MsPegawai mp ON s.NIP = mp.NIP
    LEFT JOIN Dim_Unit u ON mp.KodeUnit = u.KodeUnit
    LEFT JOIN Dim_Position p ON mp.KodeJabatan = p.KodePosition
    -- Cek duplikasi
    WHERE NOT EXISTS (
        SELECT 1 FROM Fact_Performance f 
        WHERE f.DateKey = CAST(CONVERT(VARCHAR(8), s.TglEvaluasi, 112) AS INT) 
        AND f.EmployeeKey = e.EmployeeKey
    );

    -- Fact_EmployeeSnapshot
    INSERT INTO Fact_EmployeeSnapshot (DateKey, EmployeeKey, PositionKey, UnitKey, RankKey, GajiPokok, JumlahOrang)
    SELECT 
        CAST(CONCAT(s.Tahun, RIGHT('0'+CAST(s.Bulan AS VARCHAR),2), '01') AS INT), -- DateKey Awal Bulan
        ISNULL(e.EmployeeKey, -1),
        ISNULL(p.PositionKey, -1),
        ISNULL(u.UnitKey, -1),
        ISNULL(r.RankKey, -1),
        s.GajiPokok,
        1 -- Headcount
    FROM Staging.TrGaji s
    LEFT JOIN Dim_Employee e ON s.NIP = e.NIP
    LEFT JOIN MsPegawai mp ON s.NIP = mp.NIP
    LEFT JOIN Dim_Position p ON mp.KodeJabatan = p.KodePosition
    LEFT JOIN Dim_Unit u ON mp.KodeUnit = u.KodeUnit
    LEFT JOIN Dim_Rank r ON mp.KodeGolongan = r.KodeRank;

    PRINT '=== ETL SELESAI ===';
    PRINT 'Durasi: ' + CAST(DATEDIFF(MILLISECOND, @StartTime, GETDATE()) AS VARCHAR) + ' ms';
END;
GO
/****** Object:  StoredProcedure [dbo].[Populate_Dim_Date]    Script Date: 24/11/2025 05:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- PROCEDURE UNTUK GENERATE DIM_DATE
-- =============================================
CREATE   PROCEDURE [dbo].[Populate_Dim_Date]
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Hapus data lama (kecuali 19000101 jika mau dipertahankan, tapi truncate lebih bersih)
    DELETE FROM Fact_Attendance;         -- Hapus fakta dulu karena FK
    DELETE FROM Fact_Performance;
    DELETE FROM Fact_EmployeeSnapshot;
    DELETE FROM Dim_Date;

    -- 2. Masukkan default unknown
    INSERT INTO Dim_Date (DateKey, FullDate, Year, Month, Quarter, Semester)
    VALUES (19000101, '1900-01-01', 1900, 1, 1, 1);

    -- 3. Looping dari 2020 sampai 2030
    DECLARE @StartDate DATE = '2020-01-01';
    DECLARE @EndDate DATE = '2030-12-31';

    WHILE @StartDate <= @EndDate
    BEGIN
        INSERT INTO Dim_Date (
            DateKey, 
            FullDate, 
            Year, 
            Month, 
            Quarter, 
            Semester
        )
        VALUES (
            CAST(CONVERT(VARCHAR(8), @StartDate, 112) AS INT), -- YYYYMMDD
            @StartDate,
            YEAR(@StartDate),
            MONTH(@StartDate),
            DATEPART(QUARTER, @StartDate),
            CASE WHEN MONTH(@StartDate) <= 6 THEN 1 ELSE 2 END -- Semester
        );

        SET @StartDate = DATEADD(DAY, 1, @StartDate);
    END

    PRINT 'Dim_Date berhasil diisi dari 2020 s.d 2030';
END;
GO
USE [master]
GO
